{% load static %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Психологические группы</title>
		<link rel="icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon">


		<!-- INCLUDES -->
		<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/610c72000d.js" crossorigin="anonymous"></script>
<!--         <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
		<script defer src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script> -->




		<!-- CSS -->
		<link href="{% static 'core/css/home.css' %}" rel="stylesheet" />
		<link href="{% static 'core/css/groups.css' %}" rel="stylesheet" />



		<!-- JS (better use "defer") -->
		<script defer src="{% static 'core/js/home.js' %}"></script>
	</head>



	<body>
		<div id="alert-danger">
		  <span class="alert-close">&times;</span>
		  <span class="alert-message"></span>
		</div>
		<div id="alert-success">
		  <span class="alert-close">&times;</span>
		  <span class="alert-message"></span>
		</div>
		<script>
			$(document).ready(function(){
				$(".alert-close").click(function(){
					var div = this.parentElement;
					div.style.opacity = "0";
					setTimeout(function(){ div.style.display = "none"; }, 600);
				});

				{% if alert_success %}
					alertSuccess("{{alert_success|escapejs}}", 100000);
				{% endif %}

				{% if alert_danger %}
					alertDanger("{{alert_danger|escapejs}}", 100000);
				{% endif %}
			});
		</script>

		<div id="navbar-lg" class="navbar">
			<ul class="navbar-line">
				<li class="nav-item"><a href="{% url 'home' %}">Главная</a></li>
				<li class="nav-item"><a href="#about">Обо мне</a></li>
				<li class="nav-item"><a href="#requests">Запросы</a></li>
				<li class="nav-item"><a href="#services">Услуги</a></li>
				<li class="nav-item"><a href="#education">Образование</a></li>
				<li class="nav-item"><a href="{% url 'groups' %}">Психологические группы</a></li>
				<li class="nav-item"><a href="tel:79096757868" class="nav-phone"><i class="fa-solid fa-phone"></i> +7 909 675-78-68</a></li>
				<li class="nav-item">
					<a href="https://t.me/Olga_Postovalova" target="_blank" class="nav-contact"><i class="fa-brands fa-telegram"></i></a>
					<a href="https://api.whatsapp.com/send/?phone=%2B79096757868&text&type=phone_number&app_absent=0" target="_blank" class="nav-contact"><i class="fa-brands fa-whatsapp"></i></a>
				</li>
			</ul>
		</div>

		<div id="navbar-sm" class="navbar">
			<ul class="navbar-line">
				<li class="nav-item"><a id="burger-toggler"><i class="fa-solid fa-bars" aria-hidden="true"></i></a></li>
				<li class="nav-item">
					<a href="tel:79096757868" class="nav-phone"><i class="fa-solid fa-phone"></i> +7 909 675-78-68</a>
					<a href="https://t.me/Olga_Postovalova" target="_blank" class="nav-contact"><i class="fa-brands fa-telegram"></i></a>
					<a href="https://api.whatsapp.com/send/?phone=%2B79096757868&text&type=phone_number&app_absent=0" target="_blank" class="nav-contact"><i class="fa-brands fa-whatsapp"></i></a>
				</li>
			</ul>
		</div>

		{% url 'home' as home_url %}
    	{% url 'groups' as groups_url %}

		<div id="navbar-right" class="sidebar">
            <div id="navbar-right-wrapper">
                <div id="close-right">ЗАКРЫТЬ</div>
                <ul id="navbar-right-menu">
                    <li class="menu-item {% if home_url in request.path %}active{% endif %}"><a href="{{ home_url }}">Главная</a></li>
                    <li class="menu-item"><a href="#about">Обо мне</a></li>
					<li class="menu-item"><a href="#requests">Запросы</a></li>
					<li class="menu-item"><a href="#services">Услуги</a></li>
					<li class="menu-item"><a href="#education">Образование</a></li>
                    <li class="menu-item {% if groups_url in request.path %}active{% endif %}"><a href="{{ groups_url }}">Психологические группы</a></li>
                    <li class="menu-item"><a href="tel:79096757868" class="menu-phone"><i class="fa-solid fa-phone"></i> +7 909 675-78-68</a></li>
                </ul>
            </div>
        </div>




		<div id="groups-about">
			<div class="wrapper-block">
				<div id="groups-about-header">Психологические группы и тренинги</div>
				<div id="groups-about-wrapper">
					<img id="groups-about-picture" src="{% static 'core/img/groups-pic.png' %}">

					<div id="groups-about-plate">
						<div id="groups-about-list-header">Преимущества групповой психотерапии*:</div>
						<ul id="groups-about-list">
							<li class="groups-marked-li">Человеческие существа одновременно и автономны, и взаимосвязаны, таким образом, группа становится моделью социума, и чем более разнородной она является, тем полнее воссоздает опыт межличностных отношений каждого ее члена.</li>
							<li class="groups-marked-li">На протяжении жизненного цикла группы участники сталкиваются с проблемами собственной идентичности и идентичности других, проблемами власти и конкуренции, взаимной приязни и ненависти.
							</li>
							<li class="groups-marked-li">Именно участие в группе раскроет вам вашу истинную сущность и покажет, как вы на самом деле выглядите в глазах других.</li>
							<div id="groups-about-footnote">*Термин психотерапия в данном контексте не имеет ничего общего с медицинским вмешательством</div>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="group1" class="group-block">
			<div class="group wrapper-block">
				<div class="group-name">Группа для женщин «Комплекс Лилит»</div>
				<div class="group-decsription">Психоаналитическая групповая терапия для успешных женщин. В рамках группы мы будем исследовать женское расщепление через архетипический и психоаналитический образы.</div>
				<div class="group-info">
					<div class="group-info-col">
						<div class="group-info-block goal">
							<div class="group-info-block-name"><i class="fa-solid fa-arrows-to-dot"></i> Цель</div>
							<div class="group-info-block-description">Исследование женского желания и бессознательных причин его утраты: расщепления между контролем и удовольствием, влияния запретов, стыда и агрессии, а также повторяющихся сценариев, определяющих интимную жизнь.</div>
						</div>
						<div class="group-info-block duration">
							<div class="group-info-block-name"><i class="fa-solid fa-calendar"></i> 8 встреч, 1 раз в неделю</div>
						</div>
						<div class="group-info-block time">
							<div class="group-info-block-name"><i class="fa-solid fa-clock"></i> Продолжительность встречи 2 часа</div>
						</div>
					</div>
					<div class="group-info-col">
						<div class="group-info-block contraindications">
							<div class="group-info-block-name"><i class="fa-solid fa-triangle-exclamation" style="color:#ff773d"></i> Противопоказания</div>
							<div class="group-info-block-description">Проживание острой травмы (недавняя потеря близкого, развод и тд.). Психиатрические заболевания (шизофрения, эпилепсия, БАР). Состояние клинической депрессии, наличие суицидальных мыслей.</div>
						</div>
						<div class="group-info-block stretch members">
							<div class="group-info-block-name"><i class="fa-solid fa-user-group"></i> Количество участников</div>
							<div class="group-info-block-description">8 человек максимум, группа закрытая</div>
						</div>
					</div>
				</div>

				<div class="group-price">120 000 ₽</div>
				<div class="group-note">Обязательно предварительное собеседование с каждым участником!</div>
				<a class="group-button">Записаться на собеседование</a>
			</div>
		</div>

		
		<div id="footer">
			<div class="wrapper-block">
				<div class="block-title">Контакты</div>
				<div class="footer-container">

					<div class="contacts-container">
						<a href="https://t.me/Olga_Postovalova" target="_blank" class="contact-line"><i class="fa-brands fa-telegram"></i>@Olga_Postovalova</a>
						<a href="https://api.whatsapp.com/send/?phone=%2B79096757868&text&type=phone_number&app_absent=0" target="_blank" class="contact-line"><i class="fa-brands fa-whatsapp"></i>+7 909 675-78-68</a>
						<a href="mailto:vulpis@yandex.ru" target="_blank" class="contact-line"><i class="fa-solid fa-envelope"></i>vulpis@yandex.ru</a>
					</div>

					<div class="more-wrapper">
						<div class="more-container">
							<div class="more-line"><a href="{% static 'core/files/Политика обработки перс данных.docx' %}">Политика обработки персональных данных</a></div>
							<div class="more-line"><a href="{% static 'core/files/Согласие_на_обработку_персональных_данных.docx' %}">Согласие на обработку персональных данных</a></div>
							<div class="more-line"><a href="{% static 'core/files/ДОГОВОР_ОФЕРТЫ_НА_ОКАЗАНИЕ_ПСИХОЛОГИЧЕСКИХ_УСЛУГ.docx' %}">Договор оферты на оказание услуг</a></div>
							<div class="more-line">Сайт разработал: <a href="https://github.com/Nepike" target="_blank">Nepike</a></div>
							<div class="more-line">© olgapostovalova.ru, 2026</div>
						</div>
						<div class="more-line"><a id="get-help-button">Записаться <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
					</div>
				</div>
			</div>
		</div>


		<!-- Модальное окно для формы записи -->
		<div id="formModal" class="modal">
			<script>
			    window.openFormModal = {{ form.errors|yesno:"true,false" }};
			</script>
		    <div class="modal-content form-modal">
		        <span class="modal-close">&times;</span>
		        <div class="block-title">Записаться</div>
		        <form action="{% url 'home' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
				    {% csrf_token %}

				    {% if form.non_field_errors %}
				        <div class="form-error form-error-global">
				            {% for error in form.non_field_errors %}
				                {{ error }}
				            {% endfor %}
				        </div>
				    {% endif %}

				    <div class="form-group {% if form.issue.errors %}has-error{% endif %}">
				        <label for="{{ form.issue.id_for_label }}">Услуга или запрос</label>
				        {{ form.issue }}

				        {% if form.issue.errors %}
				            <div class="form-error">
				                {% for error in form.issue.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <div class="form-row">
				        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
				            <label for="{{ form.name.id_for_label }}">Имя</label>
				            {{ form.name }}

				            {% if form.name.errors %}
				                <div class="form-error">
				                    {% for error in form.name.errors %}
				                        {{ error }}
				                    {% endfor %}
				                </div>
				            {% endif %}
				        </div>

				        <div class="form-group {% if form.contact.errors %}has-error{% endif %}">
				            <label for="{{ form.contact.id_for_label }}">Контакт для связи</label>
				            {{ form.contact }}

				            {% if form.contact.errors %}
				                <div class="form-error">
				                    {% for error in form.contact.errors %}
				                        {{ error }}
				                    {% endfor %}
				                </div>
				            {% endif %}
				        </div>
				    </div>

				    <div class="form-group {% if form.photo.errors %}has-error{% endif %}">
				        <label for="{{ form.photo.id_for_label }}">Вложение (необязательно)</label>
				        {{ form.photo }}
				        <div class="form-hint">PNG / JPG, до 10 МБ</div>

				        {% if form.photo.errors %}
				            <div class="form-error">
				                {% for error in form.photo.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <div class="form-group checkbox-group {% if form.accept_policy.errors %}has-error{% endif %}">
				        {{ form.accept_policy }}
				        <label for="{{ form.accept_policy.id_for_label }}">
				            Ознакомлен с
				            <a href="{% static 'core/files/Политика обработки перс данных.docx' %}" target="_blank">
				                политикой обработки персональных данных
				            </a>
				            и даю
				            <a href="{% static 'core/files/Согласие_на_обработку_персональных_данных.docx' %}" target="_blank">
				                согласие на обработку персональных данных
				            </a>
				        </label>

				        {% if form.accept_policy.errors %}
				            <div class="form-error">
				                {% for error in form.accept_policy.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <div class="form-group captcha-group {% if form.captcha.errors %}has-error{% endif %}">
				        {{ form.captcha }}

				        {% if form.captcha.errors %}
				            <div class="form-error">
				                {% for error in form.captcha.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <input type="submit" value="Отправить заявку" class="submit-button">

				    <div class="form-group">
				        <div class="form-hint">
				            Нажимая «Отправить заявку» вы соглашаетесь с
				            <a href="{% static 'core/files/ДОГОВОР_ОФЕРТЫ_НА_ОКАЗАНИЕ_ПСИХОЛОГИЧЕСКИХ_УСЛУГ.docx' %}" target="_blank">
				                договором оферты
				            </a>
				        </div>
				    </div>
				</form>
		    </div>
		</div>

		<div id="body-overlay"></div>
	</body>
</html>