{% load static %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Психолог - Ольга Постовалова</title>
		<link rel="icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon">


		<!-- INCLUDES -->
		<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--         <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
		<script defer src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script> -->

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
		    (function(m,e,t,r,i,k,a){
		        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		        m[i].l=1*new Date();
		        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
		    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106857718', 'ym');

		    ym(106857718, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/106857718" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->




		<!-- CSS -->
		<link href="{% static 'core/css/home.css' %}" rel="stylesheet" />



		<!-- JS (better use "defer") -->
		<script defer src="{% static 'core/js/home.js' %}"></script>
	</head>



	<body>
		<div id="alert-danger">
		  <span class="alert-close">&times;</span>
		  <span class="alert-message"></span>
		</div>
		<div id="alert-success">
		  <span class="alert-close">&times;</span>
		  <span class="alert-message"></span>
		</div>
		<script>
			$(document).ready(function(){
				$(".alert-close").click(function(){
					var div = this.parentElement;
					div.style.opacity = "0";
					setTimeout(function(){ div.style.display = "none"; }, 600);
				});

				{% if alert_success %}
					alertSuccess("{{alert_success|escapejs}}", 100000);
				{% endif %}

				{% if alert_danger %}
					alertDanger("{{alert_danger|escapejs}}", 100000);
				{% endif %}
			});
		</script>

		<div id="navbar-lg" class="navbar">
			<ul class="navbar-line">
				<li class="nav-item"><a href="{% url 'home' %}">Главная</a></li>
				<li class="nav-item"><a href="#about">Обо мне</a></li>
				<li class="nav-item"><a href="#requests">Запросы</a></li>
				<li class="nav-item"><a href="#services">Услуги</a></li>
				<li class="nav-item"><a href="#education">Образование</a></li>
				<li class="nav-item"><a href="{% url 'groups' %}">Психологические группы</a></li>
				<li class="nav-item"><a href="tel:79096757868" class="nav-phone"><i class="fa-solid fa-phone"></i> +7 909 675-78-68</a></li>
				<li class="nav-item">
					<a href="https://t.me/Olga_Postovalova" target="_blank" class="nav-contact"><i class="fa-brands fa-telegram"></i></a>
					<a href="https://api.whatsapp.com/send/?phone=%2B79096757868&text&type=phone_number&app_absent=0" target="_blank" class="nav-contact"><i class="fa-brands fa-whatsapp"></i></a>
				</li>
			</ul>
		</div>

		<div id="navbar-sm" class="navbar">
			<ul class="navbar-line">
				<li class="nav-item"><a id="burger-toggler"><i class="fa-solid fa-bars" aria-hidden="true"></i></a></li>
				<li class="nav-item">
					<a href="tel:79096757868" class="nav-phone"><i class="fa-solid fa-phone"></i> +7 909 675-78-68</a>
					<a href="https://t.me/Olga_Postovalova" target="_blank" class="nav-contact"><i class="fa-brands fa-telegram"></i></a>
					<a href="https://api.whatsapp.com/send/?phone=%2B79096757868&text&type=phone_number&app_absent=0" target="_blank" class="nav-contact"><i class="fa-brands fa-whatsapp"></i></a>
				</li>
			</ul>
		</div>

		{% url 'home' as home_url %}
    	{% url 'groups' as groups_url %}

		<div id="navbar-right" class="sidebar">
            <div id="navbar-right-wrapper">
                <div id="close-right">ЗАКРЫТЬ</div>
                <ul id="navbar-right-menu">
                    <li class="menu-item {% if home_url in request.path %}active{% endif %}"><a href="{{ home_url }}">Главная</a></li>
                    <li class="menu-item"><a href="#about">Обо мне</a></li>
					<li class="menu-item"><a href="#requests">Запросы</a></li>
					<li class="menu-item"><a href="#services">Услуги</a></li>
					<li class="menu-item"><a href="#education">Образование</a></li>
                    <li class="menu-item {% if groups_url in request.path %}active{% endif %}"><a href="{{ groups_url }}">Психологические группы</a></li>
                    <li class="menu-item"><a href="tel:79096757868" class="menu-phone"><i class="fa-solid fa-phone"></i> +7 909 675-78-68</a></li>
                </ul>
            </div>
        </div>




		<div id="about">
			<div id="about-header" class="wrapper-block">
				<img src="{% static 'core/img/profile.png' %}" alt="" id="profile">

				<div id="info-wrapper">
					<div class="name">Психолог<br>Ольга Постовалова</div>
					<div class="description">
					    Психоаналитическая работа для тех, кто готов встретиться с правдой о себе. Не советы. Не поддержка. Работа с бессознательными сценариями и повторяющимся выбором.
                    </div>
					<a class="help-button">Записаться <i class="fa-solid fa-arrow-right"></i></a>
				</div>
				<div id="quotes-wrapper">
					<div class="quote-block">
						<i class="fa-regular fa-circle-check fa-xl"></i>
						<div class="quote-text">
							<div class="quote-main">Клинический психолог, психоанализ</div>
							<div class="quote-additional">помогаю разобраться в бессознательных причинах повторяющихся сценариев и внутренних конфликтов</div>
						</div>
					</div>
					<div class="quote-block">
						<i class="fa-regular fa-circle-check fa-xl"></i>
						<div class="quote-text">
							<div class="quote-main">Регулярная психологическая работа</div>
							<div class="quote-additional">Глубина, дисциплина, честность с собой и долгосрочные внутренние изменения.</div>
						</div>
					</div>
				</div>
			</div>
			<div id="about-plate" class="wrapper-block">
				<div id="about-plate-left">
					<img src="{% static 'core/img/about-pic.jpg' %}" alt="">
					<div class="img-plate"><i class="fa-solid fa-puzzle-piece"></i>Практический психолог, КПТ терапевт, ДПДГ специалист</div>
					<div class="img-plate"><i class="fa-solid fa-award"></i>Член профессиональной психотерапевтической лиги (OPPL)</div>
				</div>
				<div id="about-plate-right">
                    <div class="block-title">Обо мне</div>
                    <ul id="about-list">
                        <li class="marked-li">
                            Магистр психологии. Специалист в области психоаналитического подхода. НЛП (мастер-уровень). Обучение методам ДПДГ и когнитивно-поведенческого подхода (КПТ). Подготовка в области суицидологии. Действительный член Общероссийская профессиональная психотерапевтическая лига (ОППЛ).
                        </li>
                        <li class="marked-li">
                            Мой путь в психоанализ начался за пределами частной практики — в управлении и бизнесе. Более 15 лет я работала директором по персоналу в компаниях федерального уровня, ежедневно сталкиваясь с ответственностью, сложными решениями и человеческими конфликтами.
                        </li>
                        <li class="marked-li">
                            В психологию я пришла не из позиции стремления помогать другим, а из потребности в глубокой работе с собой — исследовании собственной психики, повторяющихся сценариев и внутренних ограничений. Этот личный опыт стал фундаментом моего профессионального подхода.
                        </li>
                        <li class="marked-li">
                            В работе я фокусируюсь не на быстром облегчении симптомов, а на понимании причин: бессознательных установок, внутренних конфликтов и устойчивых паттернов, формирующих жизнь и отношения.
                        </li>
                    </ul>
                </div>
			</div>
		</div>

		<div id="requests">
            <div class="wrapper-block">
                <div class="block-title">Запросы, с которыми я работаю</div>
                <div class="requests-container">

                    <div class="request-element">
                        <img class="request-element-img" src="{% static 'core/img/request1.png' %}" alt="">
                        <div class="request-element-title">Контроль, пустота и выгорание</div>
                        <div class="request-element-description">
                            Состояния хронического напряжения, внутренней пустоты и утраты смысла часто связаны с подавленными чувствами и постоянной необходимостью «держать себя в руках». В терапии мы исследуем, что стоит за контролем и куда уходит ваша живая энергия.
                        </div>
                    </div>

                    <div class="request-element">
                        <img class="request-element-img" src="{% static 'core/img/request2.png' %}" alt="">
                        <div class="request-element-title">Повторяющиеся отношения и сценарии</div>
                        <div class="request-element-description">
                            Когда в отношениях снова и снова разворачиваются одни и те же сюжеты — это не случайность. Психоаналитическая работа помогает увидеть бессознательные выборы, прошлый опыт и внутренние конфликты, формирующие эти сценарии.
                        </div>
                    </div>

                    <div class="request-element">
                        <img class="request-element-img" src="{% static 'core/img/request3.png' %}" alt="">
                        <div class="request-element-title">Скрытые бессознательные конфликты</div>
                        <div class="request-element-description">
                            Внутренние противоречия могут долго оставаться неосознанными, проявляясь через тревогу, соматические симптомы или ощущение внутреннего тупика. Психоаналитическая работа позволяет постепенно вывести эти конфликты в осознание и найти новые способы проживания.
                        </div>
                    </div>

                    <div class="request-element">
                        <img class="request-element-img" src="{% static 'core/img/request4.png' %}" alt="">
                        <div class="request-element-title">Работа с травмой</div>
                        <div class="request-element-description">
                            Психическая травма не всегда осознаётся напрямую, но продолжает влиять на чувства, тело и поведение. В безопасном терапевтическом пространстве мы бережно исследуем травматичный опыт и его последствия, возвращая возможность чувствовать и выбирать.
                        </div>
                    </div>

                    <div class="request-element">
                        <img class="request-element-img" src="{% static 'core/img/request5.png' %}" alt="">
                        <div class="request-element-title">Проживание горя и утраты</div>
                        <div class="request-element-description">
                            Каждому из нас в жизни приходится переживать потери близких и друзей, переживать это в одиночестве неимоверно трудно. Важно вновь ощутить опору и веру в жизнь.
                        </div>
                    </div>

                    <div class="request-element">
                        <img class="request-element-img" src="{% static 'core/img/request6.png' %}" alt="">
                        <div class="request-element-title">Детско-родительские отношения</div>
                        <div class="request-element-description">
                            Слышали ли вы такое выражение: «никогда не поздно иметь счастливое детство»? Суть этой фразы в том, что чем бы ни наградили нас родители, мы заслуживаем быть счастливыми. В терапии появляется возможность увидеть прошлый опыт и изменить его влияние на настоящую жизнь.
                        </div>
                    </div>

                </div>
            </div>
        </div>


		<div id="services">
			<div class="wrapper-block">
				<div class="block-title">Услуги</div>
				<div class="services-container">
					<div class="service-element">
						<div class="service-label">50 минут</div>
						<div class="service-title">Психологическая консультация</div>
						<div class="service-description">Разовая консультация, направленная на разрешение запроса клиента<br><br>
                            Онлайн или очно по адресу: <br><i class="fa-solid fa-location-dot"></i> Москва, Никольская 17с2</div>
						<div class="service-main-block">
							<a href="" class="service-main-button">Записаться</a>
							<div class="service-main-text">10000 <i class="fa-solid fa-ruble-sign"></i></div>
						</div>
					</div>
                    <div class="service-element">
						<div class="service-label">50 минут</div>
						<div class="service-title">Психоаналитическая работа</div>
						<div class="service-description">Длительная работа с клиентом с регулярностью 2-3 раза в неделю
                            <br><br>Онлайн или очно по адресу: <br><i class="fa-solid fa-location-dot"></i> Москва, Никольская 17с2</div>
						<div class="service-main-block">
							<a href="" class="service-main-button">Записаться</a>
							<div class="service-main-text">7000 <i class="fa-solid fa-ruble-sign"></i></div>
						</div>
					</div>

					<div class="service-element">
						<div class="service-label">2 дня</div>
						<div class="service-title">Группа для женщин «Комплекс Лилит»</div>
						<div class="service-description">Психоаналитическое исследование женского расщепления</div>
						<div class="service-main-block">
							<a href="" class="service-main-button">Записаться</a>
							<div class="service-main-text">120000 <i class="fa-solid fa-ruble-sign"></i></div>
						</div>
						<a href="{% url 'groups' %}#group1" class="service-secondary-button">Подробнее <i class="fa-solid fa-square-arrow-up-right"></i></a>
					</div>

				</div>
			</div>
		</div>

		<div id="education">
			<div class="wrapper-block">
				<div class="block-title" style="color:#fff">Образование</div>
				<div class="education-container">
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/1.jpg' %}">Московский институт психоанализа, Магистратура по клинической психологии <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/2.jpg' %}">Институт психотерапии и клинической психологии, Практический психолог <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/3.jpg' %}">Институт психотерапии и клинической психологии, ДПДГ специалист <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/4.jpg' %}">Институт психотерапии и клинической психологии, Специалист по групповой психотерапии <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/5.jpg' %}">Институт психотерапии и клинической психологии, КПТ<i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/6.jpg' %}">Институт психотерапии и клинической психологии, НЛП Мастер, НЛП Практик <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/7.jpg' %}">Московский институт психоанализа, Трансперсональный коучинг <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/8.jpg' %}">Центр Метафора, Психологическое сопровождение горя и утраты <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/9.jpg' %}">ИПМП им. Б.Д. Карвасарского, Кризисный максимум современного психотерапевта <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/10.jpg' %}">Общероссийская Профессиональная Психотерапевтическая Лига <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/11.jpg' %}">Центр Метафора, Психотерапия интимных и сексуальных отношений <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/12.jpg' %}">Центр Метафора, Комплексный подход в терапии психотравмы <i class="fa-solid fa-file fa-xl"></i></div>
					<div class="education-element" data-diploma="{% static 'core/img/diplomas/13.jpg' %}">Московский институт психоанализа, Метафорические карты в психотерапии <i class="fa-solid fa-file fa-xl"></i></div>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="wrapper-block">
				<div class="block-title">Контакты</div>
				<div class="footer-container">

					<div class="contacts-container">
						<a href="https://t.me/Olga_Postovalova" target="_blank" class="contact-line"><i class="fa-brands fa-telegram"></i>@Olga_Postovalova</a>
						<a href="https://api.whatsapp.com/send/?phone=%2B79096757868&text&type=phone_number&app_absent=0" target="_blank" class="contact-line"><i class="fa-brands fa-whatsapp"></i>+7 909 675-78-68</a>
						<a href="mailto:vulpis@yandex.ru" target="_blank" class="contact-line"><i class="fa-solid fa-envelope"></i>vulpis@yandex.ru</a>
					</div>

					<div class="more-wrapper">
						<div class="more-container">
							<div class="more-line"><a href="{% static 'core/files/Политика обработки перс данных.docx' %}">Политика обработки персональных данных</a></div>
							<div class="more-line"><a href="{% static 'core/files/Согласие_на_обработку_персональных_данных.docx' %}">Согласие на обработку персональных данных</a></div>
							<div class="more-line"><a href="{% static 'core/files/ДОГОВОР_ОФЕРТЫ_НА_ОКАЗАНИЕ_ПСИХОЛОГИЧЕСКИХ_УСЛУГ.docx' %}">Договор оферты на оказание услуг</a></div>
							<div class="more-line">Сайт разработал: <a href="https://github.com/Nepike" target="_blank">Nepike</a></div>
							<div class="more-line">© olgapostovalova.ru, 2026</div>
						</div>
						<div class="more-line"><a id="get-help-button">Записаться <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Модальное окно для дипломов -->
		<div id="diplomaModal" class="modal">
			<span class="modal-close">&times;</span>
		    <div class="modal-content">
		        <img id="diplomaImage" src="" alt="Диплом">
		    </div>
		</div>

		<!-- Модальное окно для формы записи -->
		<div id="formModal" class="modal">
			<script>
			    window.openFormModal = {{ form.errors|yesno:"true,false" }};
			</script>
		    <div class="modal-content form-modal">
		        <span class="modal-close">&times;</span>
		        <div class="block-title">Записаться</div>
		        <form action="{% url 'home' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
				    {% csrf_token %}

				    {% if form.non_field_errors %}
				        <div class="form-error form-error-global">
				            {% for error in form.non_field_errors %}
				                {{ error }}
				            {% endfor %}
				        </div>
				    {% endif %}

				    <div class="form-group {% if form.issue.errors %}has-error{% endif %}">
				        <label for="{{ form.issue.id_for_label }}">Услуга или запрос</label>
				        {{ form.issue }}

				        {% if form.issue.errors %}
				            <div class="form-error">
				                {% for error in form.issue.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <div class="form-row">
				        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
				            <label for="{{ form.name.id_for_label }}">Имя</label>
				            {{ form.name }}

				            {% if form.name.errors %}
				                <div class="form-error">
				                    {% for error in form.name.errors %}
				                        {{ error }}
				                    {% endfor %}
				                </div>
				            {% endif %}
				        </div>

				        <div class="form-group {% if form.contact.errors %}has-error{% endif %}">
				            <label for="{{ form.contact.id_for_label }}">Контакт для связи</label>
				            {{ form.contact }}

				            {% if form.contact.errors %}
				                <div class="form-error">
				                    {% for error in form.contact.errors %}
				                        {{ error }}
				                    {% endfor %}
				                </div>
				            {% endif %}
				        </div>
				    </div>

				    <div class="form-group {% if form.photo.errors %}has-error{% endif %}">
				        <label for="{{ form.photo.id_for_label }}">Вложение (необязательно)</label>
				        {{ form.photo }}
				        <div class="form-hint">PNG / JPG, до 10 МБ</div>

				        {% if form.photo.errors %}
				            <div class="form-error">
				                {% for error in form.photo.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <div class="form-group checkbox-group {% if form.accept_policy.errors %}has-error{% endif %}">
				        {{ form.accept_policy }}
				        <label for="{{ form.accept_policy.id_for_label }}">
				            Ознакомлен с
				            <a href="{% static 'core/files/Политика обработки перс данных.docx' %}" target="_blank">
				                политикой обработки персональных данных
				            </a>
				            и даю
				            <a href="{% static 'core/files/Согласие_на_обработку_персональных_данных.docx' %}" target="_blank">
				                согласие на обработку персональных данных
				            </a>
				        </label>

				        {% if form.accept_policy.errors %}
				            <div class="form-error">
				                {% for error in form.accept_policy.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <div class="form-group captcha-group {% if form.captcha.errors %}has-error{% endif %}">
				        {{ form.captcha }}

				        {% if form.captcha.errors %}
				            <div class="form-error">
				                {% for error in form.captcha.errors %}
				                    {{ error }}
				                {% endfor %}
				            </div>
				        {% endif %}
				    </div>

				    <input type="submit" value="Отправить заявку" class="submit-button">

				    <div class="form-group">
				        <div class="form-hint">
				            Нажимая «Отправить заявку» вы соглашаетесь с
				            <a href="{% static 'core/files/ДОГОВОР_ОФЕРТЫ_НА_ОКАЗАНИЕ_ПСИХОЛОГИЧЕСКИХ_УСЛУГ.docx' %}" target="_blank">
				                договором оферты
				            </a>
				        </div>
				    </div>
				</form>
		    </div>
		</div>

		<div id="body-overlay"></div>
	</body>
</html>